html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

div,
p,
h1,
h2,
textarea,
button {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.panelbox {
  display: flex;
  flex-direction: column;
  .col {
    display: flex;
    flex-direction: row;
    & > div {
      padding: 10px;
    }
    & > div.selected {
      background: grey;
    }
  }
}

.panelbox {
  //display: grid;
  // grid-template-columns: 20px 20px;
  // grid-template-rows: 20px 20px;
  //padding: 10px;
  //align-items: center;
  //justify-items: center;
  td {
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    text-align: center;

    border-collapse: separate;
  }
}

td.selected {
  background: grey;
}
